<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book Me!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="container">
        <h1 class="header">Book Me!</h1>
        <ul class="collection with-header">
            <li class="collection-header"><h4>Это первая версия сервиса, которая позволит пользователю</h4></li>
            <li class="collection-item">Создать свою библиотеку прочитанных книг</li>
            <li class="collection-item">Создать свою библиотеку книг, которые хотелось бы прочитать</li>
            <li class="collection-item">Создать список книг, которые есть у него в наличии</li>
            <li class="collection-item">Сделать заметки по любой из книг</li>
            <li class="collection-item">Обсудить книгу в режиме интерактивного чата</li>
        </ul>
        <a class="btn" href="/"><i class="material-icons right">arrow_back</i>Назад</a>
    </div>
</body>
</html>